*.iml
.idea/
.gradle
build
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.env
Thumbs.db

/android/.gradle/
/android/app/build/
/android/build/
/.gradle/
/build/
**/local.properties
*.jks
*.keystore
android/app/debug.keystore
android/app/google-services.json